<tr>
	<td><%= speler.id %></td>
	<td><%= speler.roepnaam + " " %> <%= speler.tussenvoegsel %> <%= speler.achternaam%> </td>
	<td></td>
	<td>
		<%= link_to "aanpasen", edit_speler_path(speler.id) %>
	</td>
	<td>
		<%= button_to "verwijderen", speler, method: :delete, data: 
					{ confirm: "You sure?" } %>
	</td>
</tr>