<% provide(:title, "Aanspassen") %>
<div id="inhoud">
  	<h1>aanpassen spelers</h1>
    <div class="formParagraph">
	  	<%= form_for(@speler) do |f| %>
		    <%= render 'error_messages' %>
                <p><%= f.label :roepnaam %></p>
                <%= f.text_field :roepnaam, class: 'form-control' %>
                <p><%= f.label :tussenvoegsel %></p>
                <%= f.text_field :tussenvoegsel, class: 'form-control' %>
                <p><%= f.label :achternaam %></p>
                <%= f.text_field :achternaam, class: 'form-control' %>
                <p><%= f.label :school_id, "School" %></p>
                <%= f.text_field :school_id, class: 'form-control' %>
		    <br/><br/>
		      <%= f.submit "Opslaan", class: "submit" %>
    	<% end %>
  	</div>
</div>
<div id="inhoudBreak">
</div>