<% provide(:title, 'Aanmeldingen') %>

<div id="inhoud">
	<h1>Spelers aanmaken</h1>
        <div class="formParagraph">
	<%= form_for(@speler) do |f| %>
                <%= render 'error_messages' %>
                <p><%= f.label :roepnaam %></p>
                <%= f.text_field :roepnaam, class: 'form-control' %>
                <p><%= f.label :tussenvoegsel %></p>
                <%= f.text_field :tussenvoegsel, class: 'form-control' %>
                <p><%= f.label :achternaam %></p>
                <%= f.text_field :achternaam, class: 'form-control' %>
                <p><%= f.label :school_id, "School" %></p>
                <%= collection_select(:speler, :school_id, School.all, :id, :naam, prompt: true) %>
                <br /><br />
		<%= f.submit "Meld aan", class: "submit" %>	
		
		<p><%= link_to "Terug naar het overzicht", showSpelers_path, class: "signLink" %></p>
	<% end %>
</div>
<div id="inhoudBreak">
</div>
